.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
}
.errorMessage {
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(187, 81, 81);
}
.advice {
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(106, 217, 106);
}